/*========= GENERAL HTML =========*/

body{
  background-color: rgb(56, 35, 77);
}

a:hover{
  text-decoration: none;
  color: rgb(39, 102, 57);
  scale: 1.1;
}

/*========= NAVIGATION BAR =========*/

.TrashNavBar{
  background-color: rgb(44, 33, 55);
}

.NavBarLogo{
  width: 140px;
  height: 56px;
}

.NavButton{
  color: rgb(161, 239, 140);
  font-size: 23px;
  font-weight: bold;
}

/*========= CARRUSELS =========*/

.Carrusel{
  width: 80%;
  display: inline-block;
}

.CarruselImg{
  width: 100%;
}

/*========= CONTAINERS =========*/

.MainContainer{
  margin: 16px;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
}

/*========= DIVIDERS =========*/

.Divider1{
  height: 20px;
}

.SectionTitle{
  font-size: 30px;
  font-weight: bold;
  color: rgb(161, 239, 140);
  text-align: center;
}

/*========= HOMEPAGE CARDS =========*/

.CardContainer{
  width: 49%;
  display: inline-block;
  vertical-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.CardImgColumn{
  width: 45%;
  display: inline-block;
  vertical-align: middle;
}

.CardImg{
  width: 286px;
  height: 180px;
  /*width: 100%*/
}

.CardText{
  margin: 1rem;
  color: rgb(161, 239, 140);
  text-align: justify;
}

.CardTextColumn{
  width: 54%;
  display: inline-block;
  vertical-align: middle;
}

.CardFormat{
  color: rgb(161, 239, 140);
  text-align: justify;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}

.CardBody{
  background-color: rgb(56, 35, 77);
}

.CardTitle{
  font-size: 20px;
  text-align: center;
  color: rgb(161, 239, 140);
}

/*========= ABOUT PAGE =========*/

.AboutText{
  width: 80%;
  text-align: justify;
  color: rgb(161, 239, 140);
}

/*========= GAMES PAGE =========*/

.GamesTitle a{
  width: 80%;
  text-align: justify;
  color: rgb(161, 239, 140);
  font-size: 20px;
  font-weight: bold;
}

.GamesTitle a:hover{
  color: rgb(39, 102, 57);
}

.GamesText{
  width: 80%;
  text-align: center;
  color: rgb(161, 239, 140);
}

/*========= USER PROFILE =========*/

.UserContainer{
  background-color: rgb(71, 36, 107);
  Margin: 2rem;
  text-align: center;
}

.UserArticle{
  display: inline-block;
  vertical-align: top;
  width: 30%;
}

.UserPFP{
  width: 40%;
  height: 40%;
  border-radius: 5rem;
}

.UserSocialCard{
  width: 75%;
  display: inline-block;
  text-align: justify;
  color: rgb(161, 239, 140);
}

.UserAside{
  display: inline-block;
  vertical-align: top;
  width: 69%;
}

.UserGameCard{
  width: 100%;
  display: inline-block;
  vertical-align: center;
}

.UserGameCardImgColumn{
  width: 35%;
  display: inline-block;
  vertical-align: middle;
}

.UserGameCardImg{
  width: 286px;
  height: 180px;
}

.UserGameCardTextColumn{
  width: 64%;
  display: inline-block;
  vertical-align: middle;
}

/*========= FOOTER =========*/

.footer-basic {
  padding: 40px 0;
  background-color: rgb(44, 33, 55);
  color: rgb(161, 239, 140);
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
}

.footer-basic ul a:hover {
  color: rgb(39, 102, 57);
  font-weight: bold;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social>a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid rgb(161, 239, 140);
  margin: 0 8px;
  color: rgb(161, 239, 140);
}

.footer-basic .social>a:hover {
  border: 1px solid rgb(39, 102, 57);
  color: rgb(39, 102, 57);
  scale: 1.2;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}